.modal-login {
}

.md-title-login {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 64px;
  color: #000000;
}

.input-login {
  height: 40px;
}

.label-login .ant-form-item-required {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  color: #000000;
}

.forgot-password {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  // line-height: 32px;
  padding-left: 40px;
}

.btn-login {
  margin-top: 10px !important;
  width: 100% !important;
  height: 50px !important;
  background-color: #79e623 !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 36px !important;
  color: #ffffff !important;
}

.btn-login-facebook {
  margin-top: 10px !important;
  width: 100% !important;
  height: 50px !important;
  background-color: #3b87e9 !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 36px !important;
  color: #ffffff !important;
}
.btn-login-google {
  margin-top: 10px !important;
  width: 100% !important;
  height: 50px !important;
  background-color: #e64a4a !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 36px !important;
  color: #ffffff !important;
}




.forgot-password {
  margin-left: 70%;
}